body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background: lightblue;
  font-size: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 2px;
  border-radius: 10px;
}


.cell {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 35px;
}

.cell-X {
  color: red;
}

.cell-O {
  color: blue;
}

.winner {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  display: none;
}

.winner.show {
  display: block;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #0056b3;
}
